/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css
*** -  4. Template Hover Css
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

.section-padding-2 {
    padding: 50px 0;
}

.section-title {
    margin-bottom: 50px;
}
.padding{
    padding: 0px;
}
.margin-l-15{
    margin-left: 15px;
}
.margin-lr{
    margin-left: 0;
    margin-right: 0;
}
/*
=========----------------------------------=========
            2.Header top  Css
=========----------------------------------=========
*/

.header-call a {
    display: inline-block;
    margin: 0 15px;
    color: #666;
    text-decoration: none;
    transition: .3s;
}

.top-social a {
    display: inline-block;
    padding: 0 8px;
    text-decoration: none;
    transition: .3s;
}

.top-social i.icofont {
    font-size: 15px;
    color: #666;
}

.header-top {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #ddd;
}

.header-call a:hover,
.top-social i.icofont:hover {
    color: #4ABA70;
}

/*
=========----------------------------------=========
            2.Header.php Css
=========----------------------------------=========
*/

.main-menu {
    background: #fff;
    z-index: 99999;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.logo img {
    width: 165px;
}

.bg-custom {
    background: rgba(255, 255, 255, 1);
    transition: .3s;
    padding: 0 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: #666;
    line-height: 40px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #4ABA70;
}

.main-menu li a {
    font-size: 16px;
    margin: 0 15px;
}

.nav-item.theme-btn {
    border: 1px solid #4ABA70;
    background: #4ABA70;
    transition: .3s;
}

.nav-item.theme-btn a {
    color: #fff !important;
    display: ;
    transition: .3s;
}

.nav-item.theme-btn:hover {
    background: transparent;
}

.nav-item.theme-btn:hover a {
    color: #4ABA70 !important;
}
.main-menu {
    box-shadow: 0 2px 7px #999;
}

.dropdown-toggle:after {
    display: inline-block;
    background: transparent;
}
#navbarDropdown {
    position: relative;
    z-index: 999;
    background: transparent
}

#navbarDropdown:after {
    position: absolute;
    right: -15px;
    top: 8px;
    width: 100%;
    height: 100%;
    content: "\eb73";
    font-family: icofont;
    font-size: 15px;
    text-align: right;
    background: transparent;
}

/*
=========----------------------------------=========
            3.Welcome Area Css
=========----------------------------------=========
*/

.welcome-bg {
    background: url(../img/dp/01.jpg);

}

.welcome-bg-02 {
    background: url(../img/dp/02.jpg);
}

.welcome-bg-03 {
    background: url(../img/dp/04.jpg);
}

.welcome-txt {
    background-size: cover;
    background-position: center;
}

#learn-where {
    background: url(../img/04.jpg);
}
#blog-type-project{
    background: url(../img/logo-short.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 999;
}
#learn-where,  {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.welcome-txt {
    position: relative;
    z-index: 99;
}

.welcome-txt:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    z-index: -1;
}

.welcomte-content {
    width: 100%;
    height: 700px;
}

.welcome-txt {
    vertical-align: middle;
}

.welcome-txt {
    color: #fff;
}

.welcome-txt h2 {
    font-size: 45px;
}

.welcome-txt span {
    color: #4ABA70;
}

.welcome-txt h5 {
    letter-spacing: 8px;
    font-family: 'Lora', serif;
    font-size: 20px;
;
}

.welcome-btn a {
    display: inline-block;
    color: #fff;
    padding: 10px 25px;
    margin: 0 10px;
    border: 2px solid #fff;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    font-weight: bold;
}

.welcome-btn a:hover {
    background: #4ABA70;
}
#blog-type-project:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    z-index: -1;
    opacity: 0.85;
}
/*
=========----------------------------------=========
            4.Projects Css
=========----------------------------------=========
*/

.project-progress .progress-bar {
    background: #4BC073;
}

.project-progress {
    width: 100%;
}

.project-progress .progress p {
    position: absolute;
    line-height: 15px;
    right: 40px;
}


.project-detail-funding {
    border-bottom: 1px solid #ddd;
}

.project-detail-funding span i.icofont {
    right: 30px;
    position: absolute;
    color: #999;
}

.project-detail-funding {
    padding: 15px 0;
    margin-bottom: 10px;
}

.project-detail-txt {
    padding: 0 15px;
    border: 1px solid #ddd;
}
.project-heading-txt a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.project-heading-txt h4 {
    font-size: 18px;
}

.progress {
    margin-bottom: 10px;
}

.pro-target-money h5 {
    font-size: 13px;
}

.single-project-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 230px;
}

.single-project-image:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transition: .3s;
}

.project-detail-content:hover .single-project-image::after {
    opacity: .5;
}

.project-detail-funding:nth-child(1) {
    color: #333;
}

.project-detail-content:hover .project-detail-funding:nth-child(1) {
    color: #4DC776;
}

a.project-detail-content {
    text-decoration: none;
    color: #333;
    display: block;
    margin-top: 30px;
}

.single-project-image img {
    width: 100%;
    height: 230px;
}

.pro-target-money button {
    width: 100%;
    background: #fff;
    color: #4BC073;
    font-weight: bold;
    border: 1px solid #4BC073;
    padding: 2px 0;
    cursor: pointer;
    transition: .3s;
}

.pro-target-money button:hover {
    background: #4BC073;
    color: #fff;
}

.conti h5 {
    margin-top: 6px;
}

.pro-target-money a {
    display: inline-block;
    text-decoration: none;
    background: #4BC073;
    padding: 3px 10px;
    color: #fff;
    transition: .3s;
    margin-bottom: 15px;
    border: 1px solid #4BC073;
}

.pro-target-money a:hover {
    background: #fff;
    color: #4BC073;
}

/*
=========----------------------------------=========
            5.Subscribe Css
=========----------------------------------=========
*/

#subscribe {
    background: url(../img/subsc.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.subscribtion-frm #basic-addon2 {
    padding: 0;
    margin: 0;
}

.subscribtion-frm .input-group-text button {
    padding: 6px 15px;
    border: 0;
    cursor: pointer;
    background: #4BC073;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}

.subscribtion-frm .form-control {
    border: 1px solid #4BC073;
}

.subscribtion-frm .input-group-text {
    border: 1px solid #4BC073;
    background: #4BC073;
}

#subscribe {
    position: relative;
    z-index: 999;
    padding: 65px;
}

#subscribe:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .8;
    z-index: -1;
}

/*
=========----------------------------------=========
            6.Mission Area Css
=========----------------------------------=========
*/

.mission-menu .nav-tabs {
    border-bottom: 0;
}

.mission-menu .nav {
    display: inline-flex;
}

.mission-menu .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #4BC073;
}

.mission-menu .nav-tabs .nav-link:focus,
.mission-menu .nav-tabs .nav-link:hover {
    border-bottom: 0;
}

.mission-menu .nav-tabs .nav-link {
    color: #333;
}

.mission-content {
    margin: 35px 0;
}

.mission-content.mission-content-01 .card {
    padding: 25px;
}

.mission-content .mission-title {
    padding: 30px 0;
}

.frm-pic img {
    width: 100%;
    height: 350px;
}

/*
=========----------------------------------=========
            7.Donate Form PHP Css
=========----------------------------------=========
*/

.singleofild label {
    display: block;
    font-weight: bold;
}
.singleofild-radio label {
    font-weight: bold;
}
.singleofild input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.singleofild select,
.singleofild-radio select {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.single-fild-part {
    width: 50%;
    float: left;
}

.single-fild-part label {
    margin-left: 5px;
    margin-bottom: 10px;
}

.singleofild button {
    width: 100%;
    height: 35px;
    background: #4ABB70;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid #4ABB70;
    cursor: pointer;
    transition: .3s;
    margin: 10px 0;
}

.singleofild button:hover {
    color: #4ABB70;
    background: #fff;
    margin: ;
}

.singleofild textarea {
    margin-bottom: 10px;
}

.singleofild textarea {
    margin-bottom: 10px;
    width: 100%;
}

.singleofild.photo {
    position: relative;
    z-index: 999;
}

.singleofild.photo input {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.singleofild.photo button {
    width: 100%;
    height: 35px;
    background: #50BD74;
    color: #fff;
}

/*
=========----------------------------------=========
          08. PHP Area Css
=========----------------------------------=========
*/

.detail-slide .welcomte-content {
    width: 100%;
    height: 400px;
    margin-top: 70px;
}

.donate-money-list .card {
    padding: 20px;
}

.single-money-info span {
    font-size: 65%;
    display: block;
    font-weight: 300;
    margin-left: 25px;
    margin-top: 10px;
}

.single-money-info strong {
    font-weight: 700;
    margin-right: 5px;
}

.single-money-info {
    margin: 20px 0;
}

.donate-money-list-title h3 {
    position: relative;
    z-index: 999;
    display: inline-block;
    margin-top: 15px;
}

.donate-money-list-title h3:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #4BBA70;
    content: "";
}

.donate-money-list .project-detail-txt {
    border: 0;
    padding: 0;
}

.project-detail-txt p {
    text-align: left;
    margin-bottom: 35px;
}

.single-money-info mark {
    margin-top: 50px;
    display: block;
    background: #fff;
    color: #4BBA70;
    opacity: .5;
}

.donate-money-list {
    margin: 15px 0;
}

.singleofild a {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 28px;
    background: #4ABB70;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid #4ABB70;
    transition: .3s;
    text-align: center;
    text-decoration: none;
    margin-bottom: 24px;
}

.singleofild a:hover {
    background: #fff;
    color: #4ABB70;
}

/*
=========----------------------------------=========
            09.Search PHP Area Css
=========----------------------------------=========
*/

#search .singleofild button {
    margin: 0;
}

.mission-content .card {
    padding: 0;
    margin: 0;
}

.mission-content .card table {
    margin: 0;
}

/*
=========----------------------------------=========
            10.History.php Area Css
=========----------------------------------=========
*/

.all-donate-info {
    margin-top: 55px;
    border: 1px solid #ddd;
    padding: 20px;
}

.all-donate-info h5 {
    font-size: 16px;
}

.all-donate-info span {
    margin-left: ;
    width: 200px;
    direction: ;
    display: inline-block;
    text-align: right;
    float: right;
}

#history .singleofild button {
    margin: 0;
}

#history .donate-money-list {
    margin-top: 50px;
}

/*
=========----------------------------------=========
            11.Edit Profile Area Css
=========----------------------------------=========
*/

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #4BBA71;
}

.nav-pills .nav-link {
    color: #333;
}

.single-form input {
    width: 100%;
    height: 38px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 0px;
}

.single-form textarea {
    width: 100%;
    height: 85px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:  0px;
}

.subsc-form input {
    margin-bottom: 30px;
}

.single-form label {
    margin-bottom: 10px;
    display: inline-block;
}

.single-btn {
    text-align: center;
}

.single-btn button {
    width: ;
    padding: 7px 45px;
    border: 1px solid #4BBA71;
    background: #4BBA71;
    color: #fff;
    font-weight: bold;
    text-align: ;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.single-btn button:hover {
    background: #fff;
    color: #4BBA71;
}

.single-btn input[type="file"] {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 65px;
    cursor: pointer;
    margin-bottom: ;
    opacity: 0;
}

.single-btn.pro-pic-gap {
    margin-bottom: 30px;
    margin-top: 77px;
}

.user-pic-up i.icofont {
    font-size: 28px;
}

.user-pic-up button {
    width: 200px;
    margin-top: 50px;
}

.user-pic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}

.pro-pic-up-btn input {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99999999;
    opacity: 0;
    margin-left: -75px;
}

.pro-pic-up-btn button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 30px;
    position: absolute;
    left: 50%;
    z-index: 9999;
    background: rgba(0, 0, 0, .5);
    border-color: transparent;
    color: #fff;
    opacity: 0;
    transition: .3s;
    margin-left: -75px;
}

.user-pic:hover button {
    opacity: 1;
}

/*
=========----------------------------------=========
            12.Log in Area Css
=========----------------------------------=========
*/

.log-logo img {
    width: 95px;
    float: left;
}

.log-txt h6 {
    margin-top: 10px;
    margin-bottom: 0;
    color: #4ABE71;
}

#display-error {
    color: #FF0000;
}

/*
=========----------------------------------=========
            13.Campaign.php  Css
=========----------------------------------=========
*/

.conti.cam-con {
    margin-bottom: 20px;
}

/*
=========----------------------------------=========
            14.Footer Area Css
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            15.Footer Area Css
=========----------------------------------=========
*/

.copy-right {
    opacity: 0.9;
    color: #48B96E;
}

.copy-context {
    border-top: 1px solid #48B96E;
}

.copy-context p {
    padding: 20px 0;
}

.copy-context img {
    width: 120px;
    margin-left: 4px;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|               Volunteer Registration PAGE CSS                      |
 -------------------=======================----------------
*/

.reg-frm .card {
    padding: 25px;
}

.single-form label {
    display: block;
}

.single-form button {
    width: 92%;
    height: 38px;
    border: 1px solid #666;
    background: transparent;
    position: absolute;
    cursor: pointer !important;
    display: none;
}

.single-form input[type="file"] {
    width: 100%;
    height: 38px;
    position: relative;
    z-index: 9999;
    opacity: 1;
    cursor: pointer;
    padding-left: 0;
    border:0;
}

.single-form i.icofont {
    font-size: 30px;
}

.reg-btn button {
    width: 100%;
    height: 38px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #4ABB70;
    background: #4ABB70;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.reg-btn button:hover {
    background: #fff;
    color: #4ABB70;
}

/*
 -------------------=======================----------------
|                       Add Campaign PAGE CSS                      |
 -------------------=======================----------------
*/

.campaing-single-pic img {
    width: 100%;
    height: 285px;
    border-radius: 0;
    border: 1px dashed #ddd;
}

.campaing-single-pic.pro-pic-up-btn input {
    width: 100%;
    left: 0;
    height: 287px;
    margin: 0 auto;
}

.campaing-single-pic.pro-pic-up-btn button {
    width: 95%;
    left: 15px;
    margin: 0 auto;
    height: 287px;
    border-radius: 0;
    padding: 5px;
    top: 0;
}

.canpaign-sub-btn {
    margin-top: 85px;
}
.single-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}
/*
 -------------------=======================----------------
|                       CONTACT PAGE CSS                      |
 -------------------=======================----------------
*/

.contact-frm .card {
    padding: 30px 15px;
}


/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/

.row.org_info {
    border: 1px solid aqua;
    border-radius:  4px;
    padding:  5px;
    margin-top:  16px;
}
/*
 -------------------=======================----------------
|                       Rogistreation Index PAGE CSS                      |
 -------------------=======================----------------
*/
a.single-reg-link {
    display:  block;
    color:  #49BA6F;
    text-decoration:  none;
    border:  2px solid #49BA6F;
    padding: 50px 0;
    transition:  .3s;
    position:  relative;
    z-index:  999;
    margin: 15px 0;
}

a.single-reg-link h4 {
    margin:  0;
}

a.single-reg-link i.icofont {
    font-size:  55px;
    margin-bottom: 10px;
    display:  block;
}

a.single-reg-link:after {
    position:  absolute;
    left:  0;
    top:  0;
    width:  100%;
    height:  100%;
    background:  #a.single-reg-link;
}

a.single-reg-link:after {
    position:  absolute;
    left:  0;
    top:  0;
    width: 0%;
    height:  100%;
    background:  #49BA6F;
    content:  "";
    z-index:  -1;
    opacity:0;
    transition:.3s;
}

a.single-reg-link:before {
    position:  absolute;
    right: 0;
    top:  0;
    width:  0%;
    height:  100%;
    background:  #49BA6F;
    content: "";
    z-index:  -1;
    opacity:  0;
    transition:.3s;
}
a.single-reg-link:hover{
    color:#fff;
}
a.single-reg-link:hover:before, a.single-reg-link:hover:after{
    width:  50%;
    opacity:1;
}
a.back-btn {
    border:  1px solid #49BA6F;
    padding:  0 5px;
    font-size:  25px;
    margin-top:  30px;
    display:  inline-block;
    text-decoration:  none;
    color:  #49BA6F;
    transition:  .3s;
    position:  relative;
    z-index:  999;
}

a.back-btn:after {position:  absolute;left:  0;top:  0;width: 0%;height:  100%;background:  #49BA6F;content:  "";z-index:  -1;transition:  .3s;}

a.back-btn:hover:after {
    width:  100%;
}

a.back-btn:hover {
    color:  #fff;
}
/*
 -------------------=======================----------------
|                       Money Donations.php PAGE CSS                      |
 -------------------=======================----------------
*/
a.money-btn {
    display: inline-block;
    color: #4BBA70;
    border: 1px solid #4BBA70;
    padding: 0 10px;
    text-decoration: none;
    transition: .3s;
}
a.money-btn:hover {
    background: #58BF7A;
    color: #fff;
}

/*
 -------------------=======================----------------
|                       Campaign.php PAGE CSS              |
 -------------------=======================----------------
*/
.side-bar {
    padding: 20px;
}
.side-ul li a {
    color: #333;
}




/*
 -------------------=======================----------------
|         Header Menu Droupdown User PAGE CSS              |
 -------------------=======================----------------
*/
.head-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.dropdown-toggle::after {
    display: none;
}

.head-user {
    position: relative;
    z-index: 999;
}
.head-user:after {
    position: absolute;
    right: -5px;
    top: -1px;
    width: 15px;
    height: 15px;
    background: red;
    content: "";
    border-radius: 50%;
    opacity: 0;
}

.user-down{
    width: 320px;
}



.head-d-user img {
    width: 45px;
    height: 45px;
}
.head-d-user img {
    border-radius: 50%;
    margin-left: 15px;
    border: 1px solid #ddd;
}
.head-user-info h6 {
    margin: 0;
    font-size: 14px;
}
.head-user-info p {
    font-size: 13px;
    color: #999;
}
.head-user-info {
    margin-top: 4px;
}
.dropdown-item.single-droupdown-item.padding {
    margin-top: 10px;
}

a.active-color {
    font-weight: bold;
}

.usr-nam-bld{
    font-weight: bold;
}
.cuntom-down {
    width: 250px;
}
.turm-condition p {
    margin: 0;
    font-style: italic;
    font-size: 12px;
    color: #666;
}


.singleofild-radio {
    margin-top: 0px;
}
.payment-logos {
    margin-top: 30px;
}
.gide-line{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
.gide-line p {
    margin-bottom: 0;
    color: #666;
}
.gide-line strong {
    margin-right: 8px;
    color: #333;
}



/*
 -------------------=======================----------------
|                       Payment Status PAGE CSS                      |
 -------------------=======================----------------
*/

.roght-sign {
    background: #49BA70;
    padding: 30px 0;
}
.wrong-bg{
    background: #D32F2F;
}
.roght-sign i.icofont {
    color: #fff;
    font-size: 63px;
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    line-height: 81px;
}
.roght-sign-content h5 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 30px 0;
}
.roght-sign-content span{
    font-size: 60%;
    color: #333;
    display: block;
}

.policy-part-1 h6 {
    margin: 0;
}
.policy-part-1 {
    margin-bottom: 20px;
}
.turm-condition .card {
    border: 1px solid #ddd !important;
}
.policy-part-1 input {
    margin-right: 7px;
}

.turm-condition .card {
    padding: 0 !important;
}
.policy-part-1 input {
    margin-top: 12px;
}


div#all-condition {
    height: 460px;
    overflow-y: scroll;
}

.turmcondition input[type="checkbox"] {
    display: inline-block;
    width:  15px;
}

.turmcondition p {
    display: inline-block;
    width: 95%;
    padding-left: 6px;
}
.turmcondition span {
    margin-right: 10px;
}

ul.navbar-nav a {
    font-size: 14px;
}

.see-more {
    margin-top: 13px;
    font-size: 16px;
}

.see-more a {
    color: black;
}

.invalid-feedback {
    margin-top: -9px;
    margin-bottom: 8px;
}